.logo{
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 1em;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffffff;
}
.gif{
    max-height: 50px;
}


.cabecalho{
    height: 10em;
    display: flex;
    flex-flow: column wrap;

}
.navbar-box {
    width: 100%;
    height: 30%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav.navbar{
    display: flex;
    width: 600px;
    justify-content: space-between;
    right: 0;
}
.text-navbar{
    font-size: 0.9em;
    width: 500px;
    color: white;
}
strong{
    font-size: 1em;
}
nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: .3s;
}
nav .navOptionsHover {
/*  border: 1px solid blue ;*/
    height: 2.5rem;
    transition: .3s;
    padding: 1px;
}
nav .navOptionsHover:hover  {
    border-bottom: 3px solid #3DA6C7; 
}
nav .navOptionsHover:hover > a{
    color: #3DA6C7;
}