.logo{
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 1em;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffffff;
}
.gif{
    max-height: 50px;
}


.cabecalho{
/*  border: 1px solid red; */
    height: 10%;
}
.navbar-box {
    position: relative;
    width: 99%;
    top: -2%;
    height: 5%;
    left: 0.5%;
    padding: 1em;
}

nav.navbar{
    position: absolute;
    display: flex;
/*  border: 1px solid red;*/
    width: 30%;
    justify-content: space-between;
    right: 0;
}
.text-navbar{
    position: absolute;
    
    font-size: 0.9em;
    color: white;
}
strong{
    font-size: 1em;
}
nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: .3s;
}
nav .navOptionsHover {
/*  border: 1px solid blue ;*/
    height: 2.5rem;
    transition: .3s;
    padding: 1px;
}
nav .navOptionsHover:hover  {
    border-bottom: 3px solid #3DA6C7; 
}
nav .navOptionsHover:hover > a{
    color: #3DA6C7;
}