section.noticias{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.slider{
    width: 1000%px;
    height: 800px;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 800px;
    display:flex;
    align-items: center;
    overflow: none;
}

.slides input{
    display: none;
    
}
.slide{
    width: 20%;
    transition: 1.5s;
    display: flex;
    justify-content: center;
    overflow: none;
}
.slide img{
    width: 1000px;
    height:800px;
    overflow: hidden;
}
.colorWhite{
    color:white;
}
.tapaBuraco{
    
    z-index: 2;
    width: 750px;
    height: 800px;
    background: #101010;
}
.infoSlide{
    position:absolute;
    
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 70px;
    width: 800px;
    height: 700px;
    flex-flow: column wrap;
    justify-content: space-between;
    font-size: 20px;
    overflow: hidden;
}

.navigation-manual{
    position: absolute;
    width: 1000px;
    bottom: 30px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 6px solid #0070a3;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #0070a3;
}
.buttons{
    position: absolute;
    border-left:  30px solid transparent;
    z-index: 100;
    width: 950px;
    display: flex;
    justify-content: space-between;
}
.btn-carousel{
    background-color: rgba(0,0,0,0);
    width: 70px;
    height: 70px;
    border: 7px solid transparent;
    border-radius: 50%;
    color: #0070a3;
    display: flex;
    justify-content: center;
    font-size: 60px;
    align-items: center;
    font-weight: bold;
    outline: none;

}
.btn-carousel:hover{
    cursor: pointer;
    background: rgba(0, 174, 255, 0.4) ;
    color: #05b0ff;
    transition: 1s;
}
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    width: 1000px;
    bottom: 30px;
    display: flex;
    justify-content: center;
}
.navigation-auto div{
    border: 6px solid  #0070a3;
    padding: 6px;
    border-radius: 50%;
    
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #0070a3;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #0070a3 ;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #0070a3 ;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #0070a3 ;
}

section.sobre{
    position: relative;
    top: 50px;
    width: 100%;
    height: 800px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
}
.ambasInfos{
    display: block;
    width: 100%;
    

}
.infosPessoais{
    width: 45%;
    height: 600px;
    background: #262626;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
#ftDeid{
    width: 400px;
}
.img-pessoal{
    width:32%;
}
.icones{
    width: 100px;
}
.boxNomes{
    border-left: 60px solid transparent;
}
.dadospessoaisC, .dadospessoaisD{
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 20px;
}
.dadospessoaisC a{
    color: white;
    text-decoration: none;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
    text-decoration: none;
}
.dadospessoaisD a{
    color: white;
    text-decoration: none;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
    text-decoration: none;
}
.boxArobas{
    display: none;
}

.dadospessoaisC a#instagram{
    width: 250px
}

.dadospessoaisC a:hover > .boxArobas{
    display: flex;
    animation: efeito 1.5s ease;
}
.dadospessoaisD a:hover > .boxArobas{
    display: flex;
    animation: efeito 1.5s ease;
}



@keyframes efeito{
    from {
        transform: translateX(-25px) ;
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}